* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: #ef4d48;
}

.card {
  width: 200px;
  opacity:-0.5 #000;
  height: 250px;
  margin: 10px;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.card:hover {
  transform: translateY(-15px);
  box-shadow: 0 20px 20px rgba(0, 0, 0, 1); 
}

.card:hover .card-title {
  color: #ef4d48;
  font-size: 20px;
  font-weight: bold;
}

.card-overlay {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: contain;
  position: relative;
  z-index: 1;
}

.card-title {
  font-size: 15px;
  color: #fff;
  margin-bottom: 10px;
  text-align: center;
}

.container-fluid {
  overflow-x: hidden;
}

.card button {
  background-color: white;
  color: black;
  border: none;
  padding: 10px 10px;
  text-align: center;
  width: 70px;
}

.card button:hover {
  background-color: #ef4d48;
  box-shadow: 0 10px 10px 0 rgb(65, 63, 63);
  color: #fff;
}
