*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


.step-item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 9rem;
    margin-bottom: 20px; 
}

.step {
    width: 50px;
    margin-top: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    position: relative;
    background-color: white;
    border-radius: 50%;
    font-weight: 600;
    color: black;
    border: 1px solid black;
}

.container {
    margin-top: 20px;
    overflow-x: auto; /* or overflow-x: auto; */
}

.step-item:not(:first-child)::before {
    content: "";
    width: 100%;
    background-color: #f3c8c7;
    position: absolute;
    height: 15px;
    right: 50%;
    top: 29%; 
    transform: translateY(-50%);
}

.active .step {
    background-color: #ef4d48;
    border: none;
}

.complete .step {
    background-color: #ef4d48;
    border: 2px solid white;
    color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.9);
}
.active p {
    color:black
}
.complete p {
    color: #ec5858;
}

.complete:not(:first-child)::before,
.active:not(:first-child)::before {
    background-color: #ef4d48;
    border: none;
}

.step-item p {
    margin: 5px 10px 10px 10px;
    text-align: center;
    font-weight: bold;
    font-size: large;
    height: 50px;
}

@media (max-width: 768px) {
    .step-item {
        width: 20%;
    }
    .step-item p {
        font-size: small;
    }
}
